* {
box-sizing: border-box;
}

body {
	margin: 0;
}


/************ DISPOSIZIONE DEGLI ELEMENTI NELLA PAGINA ************/
#mainContainer{
 display: flex;
 flex-direction: column;
 align-items: center;
}
#text { /*to manage text on canvas and webgl */
  background-color: transparent;  /* needed because we setcanvas bg color to white */
  position: absolute;
  align: center;
  z-index: 2;
}
#mainCanvas {			
 background: #000099;
 z-index : 1;
 height: 100vh;		//NECESSARIO per il resize della canvas quando faccio resize della window;
 width: 100vw;
}

#uiContainer{
 position: absolute;
 top: 2%;
 left: 2.5%;
 display: flex;
 flex-direction: column;
 z-index: 3;
 padding: 10px 10px 10px 10px;
 background-color: rgba(255, 0, 0, 0.1);
 border: 2px outset rgb(187, 68, 48);
}

#touchCanvasContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;			
}

#touchCanvas1{
	position: absolute;
	left: 4%;
	bottom: 15%;
	z-index: 4;
}
#touchCanvas2 {
	position: absolute;
	right: 4%;
	bottom: 15%;
	z-index: 4;
}


/************ ABBELLIMENTO DEI RADIO BUTTON ************/

.list {
flex: 0 80%;
list-style-type: none;
margin: 0;
padding: 0;
}
.list__item {
position: relative;
}
.list__item:hover label {
color: #BB4430;
}
.list__item:hover .label::before {
border: 7px solid #BB4430;
margin-right: 20px;
}

.radio-btn {
position: absolute;
visibility: hidden;
}
.radio-btn:checked ~ .label {
color: #BB4430;
}
.radio-btn:checked ~ .label::before {
margin-right: 20px;
border: 7px solid #BB4430;
background: #F8F7FF;
}

.label {
display: flex;
align-items: center;
padding: 5px;
color: #F8F7FF;
font-size: 18px;
font-weight: 200;
text-transform: uppercase;
cursor: pointer;
transition: all 0.25s linear;
}

.label::before {
display: block;
content: '';
border: 7px solid #F8F7FF;
border-radius: 50%;
height: 15px;
width: 15px;
margin-right: 10px;
transition: all .25s linear;
}

/*****************POP UP CON LE ISTRUZIONI**************/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#istructionImg{
	margin: auto;
	margin-left: 8%;
	width: 80%;
}
	
